.watch-list-card {
    width: 15%;
    background-color: #54546D;
    color: #e6e6e6;
    border-radius: 20px;
    margin-right: 11px;
    margin-left: 11px;
    margin-bottom: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.watch-list-card:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.watch-list-card-img {
    width: 100%;
}

.watch-list-card-img-picture {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.watch-list-card-content-title {
    font-size: 14px;
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
}

