.perks {
    background-color: #9A5DC6;
    min-height: 150px;
    margin-top: 0;
}

.perks-container {
    display: flex;
    color: #e6e6e6;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-around;
}

.perks-container-perk {
    font-size: 20px;
    width: 150px;
}

.perk-hidden{
    margin-top: 60px;
}