@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;800&display=swap');

.welcome {
    display: flex;
    max-width: 1400px;
    margin: 20px auto;
    margin-bottom: 0;
    justify-content: space-between;
}

.welcome-content {
    flex-basis: 50%;
}

.welcome-content-title {
    font-size: 36px;
    color: #9A5DC6;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
}

.welcome-content-text {
    font-size: 18px;
    letter-spacing: 1.1px;
    color: #9A5DC6;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    text-align: justify;
}

.welcome-content-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.welcome-content-buttons-button {
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: #9A5DC6;
    padding: 7px 20px;
    border-radius: 30px;
}

.welcome-picture-container {
    align-items: flex-end;
    position: relative;
    bottom: -45px;
}

.welcome-picture {
    border-radius: 10px;
    height: 100%;
}

.welcome-link-element {
    cursor: pointer;
    text-decoration: none;
    color: #9A5DC6;
    font-weight: 800;
}